body
{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header, main, footer
{
    padding: 20px;
}

table
{
    border-collapse: collapse;
    width: 100%;
}
td, th
{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even)
{
    background-color: #dddddd;
}